.Pokedex {
    text-align: center;
  }
  
  .Pokedex-title {
    color: rgb(15, 36, 131);
  }
  
  .Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }